@import "../../styles/main";

button.newMeet, button.login {
    @include buttonBase;
    color: $white;
    border: 2px solid $red;
    background-color: $red;

    &:hover {
        border: 2px solid $red;
        color: $red;
        background-color: $white;
    }
  }

  button.register {
    @include buttonBase;
    color: $white;
    border: 2px solid $dark-grey;
    background-color: $dark-grey;

  
    &:hover {
      border: 2px solid $red;
      color: $red;
      background-color: $white;
    }
  }

  .nav-tabs .nav-link {
    color: $red;

    &:hover {
        background-color: $red;
        color: $white;
    }
  }