@import "../../styles/main";

header {
  padding: 0 3%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  border: 1px solid $white;

  .menu {
    display: flex;
    align-items: center;

    &:hover {
      color: $red;
      cursor: pointer;
    }

  }

  .logo {
    width: 200px;
  }

  button.user {
    @include buttonBase;
    display: inline;
    border: 2px solid $light-grey;
    
    & + .link {
      color: $dark-grey;
    }

    &.login:hover{
      border: 2px solid $red;
      color: $red;
    }
    &.register {
      background-color: $dark-grey;
      color: $light-grey;
    }
    &.register:hover {
      background-color: $red;
      border: 2px solid $red;
    }

    .userIcon {
      display: inline-block;
      margin-left: 50%;
    }

    .bars {
      margin-right: 5%;
    }
  }
}

